@charset "UTF-8";

footer {
	position: fixed;
	z-index: 30;
/* 	background-color: #ffffff; */
/*     background-color: rgba( 255, 255, 255, 0.5 ); */
	width: 100%;
/* 	height: 30%; */
/* 	margin-bottom: 0; */
border: 1px solid black;
}

footer ul {
	position: relative;
	border: none;
/* 	background-color: #ffffff; */
/*     background-color: rgba( 255, 255, 255, 0.5 ); */
    overflow-y: scroll;
    height: 150px;
}