@charset "UTF-8";

footer {
	position: fixed;
	z-index: 30;
	width: 50%;
	margin: 0;
	padding: 0;
	border: none;
/* 	height: 30%; */

footer ul {
	position: relative;
	border: none;
/*     overflow-y: scroll; */
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer li.list-group-item {
	width: 100%;
/* 	background-color: #ffffff; */
    background-color: rgba(255, 255, 255, 0.85);
}

footer i {
	cursor: pointer;
	margin: 0 10px;
}