<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>pizza</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>jdbcUrl</param-name>
  	<param-value>jdbc:mysql://localhost:3306/pizza?useSSL=false&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Seoul</param-value>
  </context-param>
  
  <context-param>
  	<param-name>jdbcUser</param-name>
  	<param-value>root</param-value>
  </context-param>
  
  <context-param>
  	<param-name>jdbcPw</param-name>
  	<param-value>7542</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>Controller</servlet-name>
  	<servlet-class>controller.CentralController</servlet-class>
  	<init-param>
  		<param-name>configFile</param-name>
  		<param-value>/WEB-INF/handlerPropertyFile.properties</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup> <!-- 서블릿 객체 생성, init() 실행 -->
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>filter.CharacterEncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern> <!-- 모든 경로에 대해 -->
  </filter-mapping>
  
  <filter>
  	<filter-name>LoginCheckFilter</filter-name>
  	<filter-class>filter.LoginCheckFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>LoginCheckFilter</filter-name>
  	<url-pattern>/logout.do</url-pattern>
  	<url-pattern>/myPage.do</url-pattern>
  	<url-pattern>/modify.do</url-pattern>
  	<url-pattern>/withdrawal.do</url-pattern>
  	<url-pattern>/cs/write.do</url-pattern>
  	<url-pattern>/cs/read.do</url-pattern>
  	<url-pattern>/cs/mylist.do</url-pattern>
  	<url-pattern>/cs/modify.do</url-pattern>
  	<url-pattern>/cs/reply/add.do</url-pattern>
  	<url-pattern>/cs/reply/modify.do</url-pattern>
  	<url-pattern>/cs/reply/delete.do</url-pattern>
  </filter-mapping>
  
</web-app>